.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #001326 url("../../images/home.png") no-repeat;
    background-size: 100%;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    /*we don't want user to copy anything: */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.search-message {
    max-width: 50%;
    border: 1px solid darkgrey;
}

.shop-header {
    position: relative;
    display: flex;
    z-index: 1;
    top: 30px;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 5% 10% 15%;
    margin: 10px 0 0 0;
    border-radius: 40px;
}

.shop-header {
    background: 50% 60% gold url("../../images/shp.jpg") no-repeat;
}

.shop-header__title {
    position: absolute;
    font-size: 50px;
}

.shop-header__search-shoes {
    position: absolute;
    right: 50px;
    height: 33px;
    width: 270px;
    border-radius: 5px;
    border: none;
    background-color: #C0C0C0;
    font-size: 30px;
    padding: 5px;
}

.shop-header__search-shoes:focus{
    background-color: #C0C1;
}

.shop-undo-btn {
    position: absolute;
    right: 5px;
}

.shop-dropdown {
    position: absolute;
    left: -50%;
    width: 200px;
}

.store-loader{
    height: 100vh;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    .shop {
         background: #001326;
        width: 100%;
        font-size: 18px;
    }
    .shop-header {
        top: 10px;
        max-width: 100%;
        width: 100%;
        height: 130px;
    }
    .shop-dropdown {
        left: 0;
        width: 80%;
        top: -15px;
    }
    .shop-header__search-shoes {
        max-width: 65%;
        top: 50%;
        right: unset;
    }
    .shop-header__title {
        display: none;
    }
    .shop-undo-btn {
        top: 30%;
        right: 10px;
    }
    .shop .shop-products {
        top: 20px;
        max-width: 80%;
    }
    .shop .container-product {
        max-width: 100%;
    }
    .container-product .product {
        max-width: 100%;
        margin: 10px 0;
        height: 370px;
    }
    .product .shoe-back {
        max-width: 100%;
    }
    .shoe-pic {
        top: 30%;
        width: 60%;
    }
    .shoe-title {
        font-size: 20px;
    }
    .product-info-btn {
        top: 10px;
        width: 40px;
        height: 40px;
    }
}

