.details {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #000 url("../../../images/home.png") no-repeat;
    background-size: 100%;
    color: #fff;
}

.product-details {
    display: flex;
    margin: 10px 0 0 0;
    color: #000;
    width: 70%;
    height: 70%;
    background-color: #C0C0C0;
    border-radius: 50px;
}
.product-details__header, .product-details__view {
    overflow: visible;
}

.product-details__header{
    width: 25%;
    margin: 10% 30px 0 50px;
    display: flex;
    flex-direction: column;
}


.product-details__description{
    width: 240px;
    margin: 15px 0 0 0;
}
.product-details__view {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: center;

}

.details-header {
    margin: 10px;
    font-size: 40px;
    font-weight: bold;
}

.product-details__img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 300px;
    height: 300px;
    background-color: #174690;
    border-radius: 50%;
    box-shadow: 4px 4px 10px 3px #000;
}

.product-details__more{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    padding: 8% 0;
}


.product-details__img img {
    width: 75%;
}

.product-details__price{
    font-size: 30px;
    display: flex;
}

.product-details__buttons {
    display: flex;
}

.shoe-btn{
    margin: 0 30px 0 0;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: transparent;
    color: #000;
    transition: 0.1s ease-in;
}

.shoe-btn:hover{
    color: #174679;
    cursor: pointer;
    border: 1px solid #fff;
}

.shoe-btn:first-child:active {
    transition: 0.1s linear;
    border: 1px solid #008000;
    color: #008000;
}

.shoe-btn:last-child:active{
    transition: 0.1s linear;
    border: 1px solid #ff0000;
    color: #ff0000;
}

.product-details__sizes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sizes-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    width: 80px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    background-color: #949597;
    margin: 5px;
}

.sizes-btn:hover{
    background-color: #174690;
}

.sizes-btn:active{
    border: 2px solid #C0C0C0;
}

.active-btn-size {
    background-color: #FA8A07;
    border: 2px solid #ff4500;
}

.sizes-header {
    font-size: 25px;
    width: 200px;
    margin: 0 0 5px 0;
}

.shoe-card__nav-btn {
    align-self: flex-end;
    margin-bottom: 13px;
    margin-right: 20%;
}

.back-btn {
    position: absolute;
    top: 70px;
    left: 20%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    .product-details {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        width: 100%;
        max-width: 100%;
    }
    .shoe-card__nav-btn {
        margin-right: 0;
    }
    .product-details__view {
        width: 100%;
        max-width: 100%;
    }
    .product-details__more {
        width: 100%;
        max-width: 100%;
    }
    .product-details__header {
        width: 100%;
        margin: 15px 0;
    }
    .product-details__description {
        width: 100%;
        padding: 0 10px;
        margin: 0 0 10px 0;
    }
   .product-details__img{
       width: 80%;
       align-self: center;
       max-width: 100%;
}
    .product-details__sizes {
        width: 100%;
        max-width: 100%;
        flex-wrap: nowrap;
    }
    .sizes-header{
        display: none;
    }
    .sizes-btn {
        width: 50%;
    }
    .product-details__buttons {
        width: 100%;
        align-self: center;
        justify-content: center;
        margin: 10px 0;
    }
    .shoe-btn{
        width: 80px;
        height: 40px;
        border-radius: 20px;
        margin: 0 20px;
    }
    .product-details__price {
        align-self: center;
    }
    .back-btn {
        position: absolute;
        top: 65px;
        left: 0;
    }
}
